.card {
    border-radius: 30px;
    width: 500px;
    max-height: 600px;
    background-color: rgb(66, 196, 66, .3);
    display: flex;
    flex-direction: column;
}

.card:hover {
  transform: scale(1.1);
}

.link {
    text-decoration: none;
    height: 8rem;
}

.link h1 {
    font-size: 25px;
    /* color: #04292e; */
    color: #fefae0;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    width: 100%;
    height: 55%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.descripcion {
    height: 16.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.diets{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;
    background-color: rgb(42, 140, 68, .4);
    height: 11rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.2rem;
    padding: 10px;
}

.diets span {
    margin-right: 5px;
    text-transform: capitalize;
    color: #fefae0;
}

.diets span img {
    width: 1.4rem;
    height: auto;
    margin: 1px 5px;
}



