.background {
  background-image: url(../../Media/real.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  font-family: "Shantell Sans", cursive;
}

.container {
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.background a {
  text-decoration: none;
  color: inherit;
}

.btn {
  position: relative;
  margin: auto;
  padding: 20px;
  transition: all 0.2s ease;
}

.btn:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(135deg, #d90429, #ffc300);
  width: 56px;
  height: 56px;
  border-radius: 28px;
  top: 0;
  left: 0;
  display: block;
  transition: all 0.3s ease;
}

.btn:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(135deg, #d90429, #ffc300);
  width: 56px;
  height: 56px;
  transform: translateY(30px) scale(0.9);
  border-radius: 28px;
  bottom: 0;
  left: 0;
  filter: blur(35px);
  transition: all 0.3s ease;
}

.btn span {
  position: relative;
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3 ease;
}

.btn:hover:before {
  width: 100%;
  background-image: linear-gradient(135deg, #d90429, #ffc300);
  transition: all 0.5s;
}

.btn:hover:after {
  width: 100%;
  background-image: linear-gradient(135deg, #d90429, #ffc300);
  transition: all 0.5s;
}

.btn:hover svg {
  transform: translateX(0);
}

.btn:active {
  transform: scale(1);
}
